<%= link_to 'Voltar', root_path %>

<%= link_to 'Registrar uma nova filial', new_subsidiary_path %>

<% @subsidiaries.each do |subsidiary| %>
  <h3><%= link_to subsidiary.name, subsidiary %></h3>
  <p><%= subsidiary.address %></p>
<% end %>

<% if @subsidiaries.empty? %>
  <h3>Nenhuma filial cadastrada</h3>
<% end %>